body {
  background-color: $white-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.3;
  //   letter-spacing: 0.04em;
  font-weight: 400;
  color: $primary-text-color;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* resets */
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body.menu-open {
  overflow: hidden;
}

body .modal-open {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}
