// fonts
$main-font: Source Sans Pro, sans-serif;
$title-font: Lora, sans-serif;

// text & background
$accent-pink-color: #ffc2c7; // rgb(255, 194, 199)
$accent-blue-color: #a9bfe4;
$primary-text-color: #351f21;
$secondary-text-color: #989ec3;
$white-color: #ffffff;
$secondary-bg-color: rgba(169, 191, 228, 0.3);

// other
$shadow-btn-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-pink-color: 0px 4px 8px rgb(255, 194, 199);
$shadow-card-hover: 0px 4px 8px #acacac;

$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
