<section class="about">
  <!-- <div class="about__overlay"> -->
  <div class="container about__gallery">
    <ul class="about__gallery-list">
      <li id="houseplants" class="about__gallery-item">
        <picture class="about__gallery-picture">
          <source
            srcset="
              ./images/bouquet/bouquets-1x-mob.png  350w,
              ./images/bouquet/bouquets-2x-mob.png  700w,
              ./images/bouquet/bouquets-3x-mob.png 1050w
            "
            media="(max-width: 759px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/bouquet/bouquets-1x-desk.png 230w,
              ./images/bouquet/bouquets-2x-desk.png 460w,
              ./images/bouquet/bouquets-3x-desk.png 690w
            "
            media="(min-width:760px)"
            type="image/png"
          />
          <img
            srcset="
              ./images/bouquet/bouquets-1x-desk.png 230w,
              ./images/bouquet/bouquets-2x-desk.png 460w,
              ./images/bouquet/bouquets-3x-desk.png 690w
            "
            src="./images/bouquet/bouquets-1x-desk.png"
            class="about-image"
            alt="bouquets"
            sizes="100vw"
          />
        </picture>
        <div class="about__button-box">
          <button class="button-thirdly" type="button">Букети</button>
        </div>
      </li>

      <li id="fresh_flowers" class="about__gallery-item">
        <picture class="about__gallery-picture">
          <source
            srcset="
              ./images/bouquet/natural_flowers-1x-mob.png  350w,
              ./images/bouquet/natural_flowers-2x-mob.png  700w,
              ./images/bouquet/natural_flowers-3x-mob.png 1050w
            "
            media="(max-width: 759px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/bouquet/natural_flowers-1x-desk.png 230w,
              ./images/bouquet/natural_flowers-2x-desk.png 460w,
              ./images/bouquet/natural_flowers-3x-desk.png 690w
            "
            media="(min-width:760px)"
            type="image/png"
          />
          <img
            srcset="
              ./images/bouquet/natural_flowers-1x-desk.png 230w,
              ./images/bouquet/natural_flowers-2x-desk.png 460w,
              ./images/bouquet/natural_flowers-3x-desk.png 690w
            "
            src="./images/bouquet/natural_flowers-1x-desk.png"
            class="about-image"
            alt="natural flowers"
            sizes="100vw"
          />
        </picture>
        <div class="about__button-box">
          <button class="button-thirdly" type="button">Живі квіти</button>
        </div>
      </li>

      <li id="collect_bouquet" class="about__gallery-item">
        <picture class="about__gallery-picture">
          <source
            srcset="
              ./images/bouquet/own_bouquet-1x-mob.png  350w,
              ./images/bouquet/own_bouquet-2x-mob.png  700w,
              ./images/bouquet/own_bouquet-3x-mob.png 1050w
            "
            media="(max-width: 759px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/bouquet/own_bouquet-1x-desk.png 230w,
              ./images/bouquet/own_bouquet-2x-desk.png 460w,
              ./images/bouquet/own_bouquet-3x-desk.png 690w
            "
            media="(min-width:760px)"
            type="image/png"
          />
          <img
            srcset="
              ./images/bouquet/own_bouquet-1x-desk.png 230w,
              ./images/bouquet/own_bouquet-2x-desk.png 460w,
              ./images/bouquet/own_bouquet-3x-desk.png 690w
            "
            src="./images/bouquet/own_bouquet-1x-desk.png"
            class="about-image"
            alt="own bouquet"
            sizes="100vw"
          />
        </picture>
        <div class="about__button-box">
          <button class="button-thirdly" type="button">"Свій" букет</button>
        </div>
      </li>
    </ul>
    <div class="about__us">
      <div class="about__content" id="about_us">
        <h2 class="about__title">Про нас</h2>
        <blockquote>
          <p class="about__description">
            Яких квітів тут лише немає! І садові, і польові, і кімнатні у
            глиняних горщиках. Очі розбігаються від такого достатку.
          </p>
          <p class="about__description">
            Тут представлена і багата колекція кімнатних рослин: кактуси різної
            форми та величини, ніжні фіалки, усипані квітами, аспарагуси,
            фікуси.
          </p>
        </blockquote>
      </div>
      <div class="about__content-img">
        <div class="about__image">
          <picture class="about__image-women">
            <source
              srcset="
                ./images/bouquet/women-1x-mob.png 292w,
                ./images/bouquet/women-2x-mob.png 584w,
                ./images/bouquet/women-3x-mob.png 876w
              "
              media="(max-width: 759px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/bouquet/women-1x-desk.png 320w,
                ./images/bouquet/women-2x-desk.png 640w,
                ./images/bouquet/women-3x-desk.png 960w
              "
              media="(min-width:760px)"
              type="image/png"
            />
            <img
              srcset="
                ./images/bouquet/women-1x-desk.png 320w,
                ./images/bouquet/women-2x-desk.png 640w,
                ./images/bouquet/women-3x-desk.png 960w
              "
              src="./images/bouquet/women-1x-desk.png"
              class="about-image"
              alt="women"
              sizes="100vw"
            />
          </picture>
        </div>
        <div class="about__network">
          <ul class="about__network-list">
            <li class="about__network-item">
              <a
                class="about__network-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-instagram">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="about__network-item">
              <a
                class="about__network-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-facebook">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="about__network-item">
              <a
                class="about__network-link"
                href="https://www.viber.com/ua/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-viber">
                  <use href="./images/sprite.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
