<section class="benefits">
  <!-- <div class="benefits__overlay"> -->
  <div class="container">
    <h2 class="benefits__title">Працюємо для вас</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <picture class="benefits__gallery-picture">
          <img
            loading="lazy"
            srcset="
              ./images/bouquet/constructor-1x-desk.png  66w,
              ./images/bouquet/constructor-2x-desk.png 131w,
              ./images/bouquet/constructor-3x-desk.png 196w
            "
            src="./images/bouquet/constructor-1x-desk.png"
            class="benefits-image"
            alt="constructor"
            sizes="100vw"
          />
        </picture>
        <h3 class="benefits__item-name">Конструктрор унікального букета</h3>
      </li>

      <li class="benefits__item">
        <picture class="benefits__gallery-picture">
          <img
            loading="lazy"
            srcset="
              ./images/bouquet/indoor-1x-desk.png  66w,
              ./images/bouquet/indoor-2x-desk.png 131w,
              ./images/bouquet/indoor-3x-desk.png 196w
            "
            src="./images/bouquet/indoor-1x-desk.png"
            class="benefits-image"
            alt="indoor"
            sizes="100vw"
          />
        </picture>
        <h3 class="benefits__item-name">
          Безкоштовна доставка по місту до 2-х годин
        </h3>
      </li>

      <li class="benefits__item">
        <picture class="benefits__gallery-picture">
          <img
            loading="lazy"
            srcset="
              ./images/bouquet/delivery-1x-desk.png  62w,
              ./images/bouquet/delivery-2x-desk.png 124w,
              ./images/bouquet/delivery-3x-desk.png 186w
            "
            src="./images/bouquet/delivery-1x-desk.png"
            class="benefits-image"
            alt="delivery"
            sizes="100vw"
          />
        </picture>
        <h3 class="benefits__item-name">Наявність кімнатних рослин</h3>
      </li>

      <li class="benefits__item">
        <picture class="benefits__gallery-picture">
          <img
            loading="lazy"
            srcset="
              ./images/bouquet/for_loved_ones-1x-desk.png  62w,
              ./images/bouquet/for_loved_ones-2x-desk.png 124w,
              ./images/bouquet/for_loved_ones-3x-desk.png 186w
            "
            src="./images/bouquet/for_loved_ones-1x-desk.png"
            class="benefits-image"
            alt="for loved ones"
            sizes="100vw"
          />
        </picture>
        <h3 class="benefits__item-name">
          Вибір квітів для коханих, мам та друзів
        </h3>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</section>
