<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог</h2>
    <ul data-current-page="1"
      aria-live="polite" id="catalog-onset" class="catalog__list js-catalog"></ul>

    <div class="pagination__pages--catalog">
      <button
        id="prev__button--catalog"
        class="pagination-arrow arrow-left"
        aria-label="Previous page"
        title="Previous page"
        data-catalog="#catalog">
          <svg width="35" height="35" class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
      </button>

      <div class="pages__numbers--catalog" id="pagination-catalog"></div>
      
      <button
        id="next__button--catalog"
        class="pagination-arrow arrow-right"
        aria-label="Next page"
        title="Next page"
        data-catalog="#catalog">
          <svg width="35" height="35" class="icon-arrow">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
      </button>

    </div>
</section>
