<footer class="footer" id="contacts">
  <!-- <div class="footer__overlay"> -->
  <div class="container">
    <!-- logo -->
    <div class="logo footer__logo--desk">
      <!-- logo desktop -->
      <a class="logo__link--desk" name="logo" href="#home">
        <img
          src="./images/logo/logo@1x.png"
          srcset="./images/logo/logo@2x.png 2x, ./images/logo/logo@3x.png 3x"
          alt="logo"
        />
      </a>
    </div>

    <div class="footer__content">
      <!-- <div class="footer__content--nav"> -->
      <ul class="footer__content--list">
        <li class="footer__content--item">
          <h3 class="footer__content--title">Контакти</h3>
          <ul class="footer__contacts--list">
            <li class="footer__item">
              <a href="tel:(095)0000000" class="footer__link"
                >(095) 000 00 00</a
              >
            </li>
            <li class="footer__item">
              <a href="tel:(097)0000000" class="footer__link"
                >(097) 000 00 00</a
              >
            </li>
            <li class="footer__item">Ми працюємо цілодобово</li>
          </ul>
        </li>
        <li class="footer__content--item">
          <h3 class="footer__content--title">Інформація</h3>
          <ul class="footer__info--list">
            <li class="footer__item">
              <a href="#about_us" class="footer__link">Про нас</a>
            </li>
            <li class="footer__item">
              <a href="#hit_sales" class="footer__link">Хіт продажу</a>
            </li>
            <li class="footer__item">
              <a href="#feedback" class="footer__link">Відгуки</a>
            </li>
            <li class="footer__item">
              <a href="#delivery_payment" class="footer__link"
                >Доставка і оплата</a
              >
            </li>
          </ul>
        </li>
        <li class="footer__content--item">
          <h3 class="footer__content--title">Каталог</h3>
          <ul class="footer__catalog--list">
            <li class="footer__item">
              <a href="#collect_bouquet" class="footer__link"
                >Збери свій букет</a
              >
            </li>
            <li class="footer__item">
              <a href="#fresh_flowers" class="footer__link">Живі квіти</a>
            </li>
            <li class="footer__item">
              <a href="#houseplants" class="footer__link">Кімнатні рослини</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- </div> -->
      <div class="footer__subscription">
        <div class="footer__subscribe">
          <form class="subscribe-form">
            <input
              type="email"
              name="email"
              placeholder="Введіть свій e-mail"
              class="subscribe-form__input"
            />
            <button type="submit" class="button-subscribe">
              <span class="button__content">Підписатися</span>
            </button>
          </form>
        </div>

        <div class="about__network footer__network">
          <ul class="about__network-list footer__network--list">
            <li class="about__network-item footer__network--item">
              <a
                class="about__network-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-instagram">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="about__network-item footer__network--item">
              <a
                class="about__network-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-facebook">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="about__network-item footer__network--item">
              <a
                class="about__network-link"
                href="https://www.viber.com/ua/"
                target="_blank"
              >
                <svg width="20" height="22" class="icon-viber">
                  <use href="./images/sprite.svg#icon-viber"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyrite">
      <div class="copyrite__text">Copyright &copy; 2022</div>
    </div>

    <!-- logo -->
    <div class="logo footer__logo--mob">
      <!-- logo mobile -->
      <a class="logo__link--mob" name="logo" href="#home">
        <img
          src="./images/logo/logo-1x-mob.png"
          srcset="
            ./images/logo/logo-2x-mob.png 2x,
            ./images/logo/logo-3x-mob.png 3x
          "
          alt="logo"
        />
      </a>
    </div>
  </div>
  <!-- </div> -->
</footer>
