<section class="hero" id="hit_sales">
  <div class="hero__overlay">
    <div class="container">
      <div class="hero__content">
        <h1 class="hero__title">
          Букет із кущових троянд "Довгоочікуване щастя"
        </h1>
        <p class="hero__title-description">
          Ніжний та витончений шик у букеті з троянд - </br>гарний вибір для коханої</br>
          людини
        </p>

        <p class="hero__title-description-mob">
          Ніжний та витончений шик у букеті </br>з троянд - гарний вибір </br>для коханої
          людини
        </p>
        <div class="hero__buttons">
          <button type="button" class="button-primary">
            В кошик
          </button>
          <button type="button" class="button-primary">
            В каталог
          </button>
        </div>
      </div>
    </div>
  </div>
</section>