<section class="hero" id="hit_sales">
  <div class="hero__overlay">
    <div class="container">
      <div class="hero__content">
        <h1 class="hero__title">
          Букет із кущових троянд "Довгоочікуване щастя"
        </h1>
        <p class="hero__title-description">
          Ніжний та витончений шик у букеті з троянд - </br>гарний вибір для коханої</br>
          людини
        </p>

        <p class="hero__title-description-mob">
          Ніжний та витончений шик у букеті </br>з троянд - гарний вибір </br>для коханої
          людини
        </p>
        <div class="hero__buttons">
          <button type="button" class="button-primary">
            В кошик
          </button>
          <button type="button" class="button-primary">
            В каталог
          </button>
        </div>
      </div>
    </div>
    <div class="img-cont"></div>

    <!-- <img src="./images/bouquet/bouquet1-1x-desk.png" alt="bouquet1">
      <img src="./images/bouquet/bouquet2-1x-desk.png" alt="bouquet2">
      <img src="./images/bouquet/bouquet3-1x-desk.png" alt="bouquet3">
      <img src="./images/bouquet/Ellipse1.png" alt="Ellipse1"> -->
  </div>
</section>

<!-- <picture>
            <source srcset="./images/img-about/cow-mob/cow-mob@1x-280.png 280w,
                            ./images/img-about/cow-mob/cow-mob@2x-560.png 560w,
                            ./images/img-about/cow-mob/cow-mob@3x-840.png 840w" 
                            media="(max-width: 767px)"
                            type="image/png" />
            <source srcset="./images/img-about/cow-desk/cow-desk@1x-516.png 516w,
                                    ./images/img-about/cow-desk/cow-desk@2x-1032.png 1032w, 
                                    ./images/img-about/cow-desk/cow-desk@3x-1548.png 1548w"
                                    media="(min-width:1280px)"
                                    type="image/png" />

            <source srcset="./images/img-about/cow-tablet/cow-tablet@1x-340.png 340w,
                                    ./images/img-about/cow-tablet/cow-tablet@2x-680.png 680w,
                                    ./images/img-about/cow-tablet/cow-tablet@3x-1020.png 1020w"
                            media="(min-width: 768px)" 
                            type="image/png" />       
            <img srcset="./images/img-about/cow-tablet/cow-tablet@1x-340.png 340w,
                                ./images/img-about/cow-tablet/cow-tablet@2x-680.png 680w,
                                ./images/img-about/cow-tablet/cow-tablet@3x-1020.png 1020w"
                        src="./images/img-about/cow-tablet/cow-tablet@1x-340.png"
                        class="about-image" 
                        alt="cow with milk"
                        
                        sizes="100vw" /> 
        </picture> -->
