<section class="hero">
  <div class="hero__overlay">
    <div class="container">
      <div class="hero__content" id="hit_sales">
        <h1 class="hero__title">
          Букет із кущових троянд "Довгоочікуване щастя"
        </h1>
        <p class="hero__title-description">
          Ніжний та витончений шик у букеті з троянд - </br>гарний вибір для коханої</br>
          людини
        </p>

        <p class="hero__title-description-mob">
          Ніжний та витончений шик у букеті </br>з троянд - гарний вибір </br>для коханої
          людини
        </p>
        <div class="hero__buttons">
          <button type="button" class="button-primary js-button-toBasket">
            В кошик
          </button>
          
          <button href="#catalog" type="button" class="button-primary btn-catalog">
            <!-- <a class="js-nav-link btn-link" href="#catalog"> -->
               В каталог
            <!-- </a> -->
          </button>
          
        </div>
      </div>
    </div>
  </div>
</section>