<!-- navigation menu -->
<div class="navigation__backdrop" id="navigation" data-menu>
  <nav class="navigation__menu">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link js-nav-link" href="#catalog">Каталог</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link js-nav-link" href="#about_us">Про нас</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link js-nav-link" href="#collect_bouquet"
          >Збери букет</a
        >
      </li>
      <li class="navigation__item">
        <a class="navigation__link js-nav-link" href="#contacts">Контакти</a>
      </li>
    </ul>
  </nav>
</div>
