<div class="backdrop is-hidden">
  <div class="basket-modal">
    <button type="button" class="basket-modal-close-button">
      <svg class="icon-cancel" width="24" height="24">
        <use href="./images/sprite.svg#icon-cancel"></use>
      </svg>
    </button>
    <h2 class="basket-title">Кошик</h2>

    <div class="container-basket">
      <div class="container-basket-empty">
        <h3 class="basket-empty-title">Кошик порожній</h3>
        <p class="basket-empty-paragraph">
          Але це ніколи не пізно виправити :)
        </p>
        <button
          href="#catalog"
          type="button"
          class="button-secondary start-shopping"
        >
          Вибір покупок
        </button>
      </div>
      <div class="container-icons-basket">
        <svg class="icon-flamingo">
          <use href="./images/flowers-sprite.svg#icon-flamingo-hibiscus"></use>
        </svg>
      </div>
      </div>

      <div class="products-container">
        <div class="product-header">
          <h5 class="product-title">Назва товару</h5>
          <h5 class="price">Ціна</h5>
          <h5 class="quantity">Кількість</h5>
          <h5 class="total">Вартість</h5>
        </div>

        <div class="products"></div>
        <div class="buttons-container">
          <button
            href="#catalog"
            type="button"
            class="button-fourthly continue-shopping"
          >
            Продовжити покупки
          </button>
          <button type="submit" class="button-secondary">
            Оформити замовлення
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
