<div class="backdrop is-hidden">
  <div class="basket-modal">
    <button type="button" class="basket-modal-close-button">
      <svg class="icon-cancel" width="24" height="24">
        <use href="./images/sprite.svg#icon-cancel"></use>
      </svg>
    </button>
    <h2 class="basket-title">Кошик</h2>

    <div class="container-basket">
      <div class="container-basket-empty">
        <h3 class="basket-empty-title">Кошик порожній</h3>
        <p class="basket-empty-paragraph">
          Але це ніколи не пізно виправити :)
        </p>
        <button
          href="#catalog"
          type="button"
          class="button-secondary start-shopping"
        >
          Вибір покупок
        </button>
      </div>
      <div class="container-icons-basket">
        <svg class="icon-flamingo">
          <use href="./images/flowers-sprite.svg#icon-flamingo-hibiscus"></use>
        </svg>
      </div>
      </div>

      <div class="products-container">
        <div class="product-header">
          <h5 class="product-title">Назва товару</h5>
          <h5 class="price">Ціна</h5>
          <h5 class="quantity">Кількість</h5>
          <h5 class="total">Вартість</h5>
        </div>

        <div class="products"></div>
        <div class="buttons-container">
          <button
            href="#catalog"
            type="button"
            class="button-fourthly continue-shopping"
          >
            Продовжити покупки
          </button>
          <button type="button" class="button-secondary btn-order">
            Оформити замовлення
          </button>
        </div>
        <div class="form-order-container">
          <form class="form-modal">
                    <p class="form-modal__name">Для підтвердження замовлення введіть ваші дані</p>
                    <p class="form-modal__note"><span class="asterisk">*</span>поля, обов'язкові для заповнення</p>

                    <label class="form-modal__label">
                        <span class="form-modal__content-label">Ім'я та прізвище<span class="asterisk">*</span></span>
                        <input type="text" name="user-name" class="form-modal__input" />
                        <svg class="form-modal__icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-person"></use>
                        </svg>
                    </label>

                    <label class="form-modal__label">
                        <span class="form-modal__content-label">Телефон<span class="asterisk">*</span></span>
                        <input type="tel" name="tel" readonly value="+38" placeholder="+38" class="form-modal__input"/>
                        <svg class="form-modal__icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-phone"></use>
                        </svg>
                    </label>

                    <label class="form-modal__label">
                        <span class="form-modal__content-label">Електронна адреса<span class="asterisk">*</span></span>
                        <input type="email" name="mail" class="form-modal__input"/>
                        <svg class="form-modal__icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-email"></use>
                        </svg>
                    </label>

                    <label class="form-modal__label">
                        <span class="form-modal__content-label">Адреса доставки<span class="asterisk">*</span></span>
                        <input class="form-modal__input form-modal__input--city" type="text" name="city" placeholder="Місто"/>
                        <div style="display: flex;">
                          <input class="form-modal__input form-modal__input--street" type="text" name="street" placeholder="Вул."/>
                          <input class="form-modal__input form-modal__input--house" type="text" name="house" placeholder="буд."/>
                          <input class="form-modal__input form-modal__input--corps" type="text" name="corps" placeholder="крп."/>
                          <input class="form-modal__input form-modal__input--apartment" type="text" name="apartment" placeholder="кв."/>
                        </div>
                      </label>

                    <label class="form-modal__label form-modal__label--comment">
                        <span class="form-modal__content-label">Коментар</span>
                        <textarea name="comment" placeholder="Введіть текст" class="form-modal__input form-modal__input--comment"></textarea>
                    </label>

                    <div class="form-modal__checkbox">
                        <input type="checkbox" name="user-agreement" value="agree" id="check" class="form-modal__check"/>
                        <label for="check" class="form-modal__label-check">
                            Погоджуюсь та приймаю
                            <a href="" class="form-modal__link">Умови договору</a><span class="asterisk">*</span>
                        </label>
                    </div>
                    
                    <div class="form-modal__button">  
                        <button class="button-send button-secondary" type="submit">Замовлення підтверджую</button>
                    </div>
                </form>
        </div>
      </div>
    </div>
  </div>
</div>
