<div class="pagination">
  <div class="pagination-pages">
    <div class="pagination-arrow arrow-left">
      <svg width="35" height="35" class="icon-arrow">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="pages-numbers" id="pagination"></div>
    <div class="pagination-arrow arrow-right">
      <svg width="35" height="35" class="icon-arrow">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</div>
