<div class="reviews__form">
  <div class="container">
    <h3 class="reviews__title--form">Додати відгук:</h3>
    <form class="form">
      <label for="name"></label>
      <input type="text" id="name" placeholder="Ваше ім'я" class="form-input" />
      <label for="message"></label>
      <textarea
        name="message"
        id="message"
        class="form-textarea"
        placeholder="Ваш відгук:"
      ></textarea>
      <button type="submit" class="button-secondary form-btn">
        Відправити
      </button>
    </form>
  </div>
</div>
