@import '../utils/placeholders.scss';

.button-primary {
  @extend %button;
  color: $secondary-text-color;
  background-color: $white-color;
  border-radius: 50px;
  border: 2px solid $accent-pink-color;
  cursor: url(../images/cursor.svg) 0 0, auto;
  box-shadow: none;
  @include transition(background-color, color, box-shadow);

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-pink-color;
    box-shadow: $shadow-btn-color;
  }
}

.button-secondary {
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  color: $white-color;
  background-color: $accent-pink-color;
  border-radius: 50px;
  border: 2px solid transparent;
  cursor: url(../images/cursor.svg) 0 0, auto;
  box-shadow: none;
  @include transition(background-color, color, box-shadow, border-color);

  &:hover,
  &:focus {
    color: $secondary-text-color;
    background-color: $white-color;
    box-shadow: $shadow-btn-color;
    border-color: $accent-pink-color;
  }
}

.button-thirdly {
  @extend %button;
  background-color: $accent-blue-color;
  color: $white-color;
  font-family: $title-font;
  font-weight: 400;
  box-shadow: $shadow-btn-color;
  border: 2px solid transparent;
  transform: scale(1);
  cursor: url(../images/cursor.svg) 0 0, auto;
  @include transition(background-color, color, transform, border-color);

  &:hover,
  &:focus {
    color: $accent-pink-color;
    background-color: $white-color;
    border-color: $secondary-text-color;
    transform: scale(1.08);
  }
}

.button-fourthly {
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  color: $secondary-text-color;
  background-color: $white-color;
  border-radius: 50px;
  border: 2px solid $accent-blue-color;
  cursor: pointer;
  box-shadow: none;
  @include transition(box-shadow, color);

  &:hover,
  &:focus {
    box-shadow: $shadow-btn-color;
    color: $accent-blue-color;
  }
}
