.form-modal {
  &__name {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-family: Lora, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }

  &__note {
    font-size: 12px;
    text-align: end;
    color: $secondary-text-color;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__button {
    text-align: center;
  }
}

.form-modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &--comment {
    margin-bottom: 20px;
  }
}

.form-modal__content-label {
  padding-bottom: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  @include transition(color);

  @media screen and (max-width: 767px) {
    .form-modal__label:focus-within & {
      color: $accent-pink-color;
    }
  }
}

.asterisk {
  font-size: large;
  color: $accent-pink-color;
}

.form-modal__input {
  padding: 12px 12px 12px 42px;
  color: #212121;
  // color: $secondary-text-color;
  border-radius: 4px;
  @include bordered($accent-blue-color);
  @include transition(border-color);

  outline: transparent;
  cursor: pointer;

  &--comment {
    resize: none;
    min-height: 120px;
    padding: 12px 16px;
  }

  .form-modal__label:focus-within & {
    border-color: $accent-pink-color;
  }
}

.form-modal__input--comment::placeholder {
  // color: rgba(117, 117, 117, 0.5);
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-modal__icon {
  position: absolute;
  top: 55%;
  left: 12px;
  cursor: pointer;
  fill: $accent-blue-color;
  @include transition(fill);

  .form-modal__label:focus-within & {
    fill: $accent-pink-color;
  }
}

.form-modal__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-modal__label-check {
  display: inline-block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;

  @media screen and (min-width: 1200px) {
    padding-left: 36px;
    padding-right: 11px;
    font-size: 14px;
    line-height: 1.61;
  }

  .form-modal__link {
    text-decoration-line: underline;
    color: $accent-pink-color;
  }
}

.form-modal__label-check::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid $accent-blue-color;
  border-radius: 2px;

  background-color: #fff;

  @include transition(background-color, border-color);

  @media screen and (min-width: 1200px) {
    left: 12px;
  }

  .form-modal__check:checked ~ & {
    width: 16px;
    height: 15px;
    background-color: $accent-pink-color;
    border-color: $accent-pink-color;
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }

  .form-modal__check:focus ~ & {
    border-color: $accent-pink-color;
  }
}

.button-send {
  @extend %button;
  width: 200px;
  font-size: 14px;
}
