// @import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 7px;
$hamburger-layer-color: $white-color;

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.hamburger {
  display: flex;
  align-items: center;
  padding: 20px 0;

  // .hamburger-inner,
  // .hamburger-inner::before,
  // .hamburger-inner::after {
  //   background-color: $white-color;
  // }
}
