.logo {
  margin-left: 65px;
  height: 100%;

  @media screen and (min-width: $mobile-medium) {
    margin-left: 94px;
    width: 106px;
  }

  @media screen and (min-width: $tablet-min) {
    margin-left: 0;
    width: 136px;
  }
}

.logo__link--desk {
  display: none;

  @media screen and (min-width: $tablet-min) {
    display: inline-block;
    padding: 7px 0;
  }
}

.logo__link--mob {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  // margin-left: 70px;

  // @media screen and (min-width: $mobile-medium) {
  //   margin-left: 94px;
  // }

  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}
