.pagination-pages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: -6px;
}

.pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}

.icon-arrow {
  fill: #d9d9d9;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: $accent-pink-color;
  }
}

.pages-numbers {
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -3px;
  // width: 8px;
  // height: 8px;
  // background-color: #d9d9d9;
  // border-radius: 50%;
  // @include transition(background-color);

  // &:hover,
  // &:focus {
  //   background-color: $accent-pink-color;
  // }
}

.pages-number {
  margin: 3px;
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 50%;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-pink-color;
  }

  &.active {
    background-color: $accent-pink-color;
  }
}

// .pages-numbers button {
//   width: 40px;
//   height: 40px;
//   margin: 6px;
//   border: none;
//   border-radius: 8px;

//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   background-color: $white-color;
//   @include transition(background-color, color);
// }

// .pages-numbers button:hover,
// .pages-numbers button.active {
//   background-color: $accent-pink-color;
//   color: $white-color;
//   cursor: pointer;
// }

// @media screen and (max-width: 480px) {
//   .pages-numbers button {
//     width: 30px;
//     height: 30px;
//     margin: 1px;
//     font-size: 8px;
//   }
// }

// .dots {
//   width: 40px;
//   height: 40px;
//   display: inline-block;
//   text-align: center;
//   padding: 10px 5px 1px 5px;
// }

// @media screen and (max-width: 480px) {
//   .dots {
//     padding: 10px 1px 1px 1px;
//   }
// }

// .hide {
//   display: none;
// }

// .disabled-arrow {
//   pointer-events: none;
//   background-color: green;
// }
