.reviews__form {
  padding: 0 0 34px;
  background-color: rgba(169, 191, 228, 0.2);

  @media screen and (min-width: $tablet-min) {
    background-image: url('../images/bouquet/flowers2-1x-desk.png');
    background-repeat: no-repeat;
    background-position: bottom 105px left;
  }
}

.reviews__title--form {
  margin-bottom: 15px;

  @extend %title-section;
  font-size: 20px;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input,
.form-textarea {
  padding: 10px 15px;
  min-width: 100%;
  border: none;
  outline-color: $accent-pink-color;

  &::placeholder {
    color: #acacac;
    font-size: 12px;
    line-height: 1.25;
  }

  @media screen and (min-width: $tablet-min) {
    border-radius: 10px;
  }
}

.form-input {
  margin-bottom: 10px;
  height: 30px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 12px;
  }
}

.form-textarea {
  margin-bottom: 18px;
  height: 94px;
  resize: none;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 15px;
    height: 94px;
  }
}

.button-secondary.form-btn {
  width: 117px;
  min-height: 29px;
  border-radius: 0;
  font-size: 12px;
  line-height: 1.25;
  color: #fffdfd;
  box-shadow: $shadow-btn-color;
  margin-left: 0;
  margin-right: auto;

  @media screen and (min-width: $tablet-min) {
    border-radius: 50px;
  }
}
