.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: $shadow-card-hover;
  // box-shadow: 0px 4px 8px rgba(255, 194, 199, 0.8);

  background-color: $accent-blue-color;
  height: 60px;

  @media screen and (min-width: $tablet-min) {
    height: 70px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__burger--menu {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (min-width: $tablet-min) {
      display: none;
    }
  }
}

// options
.header__options {
  display: flex;
  // align-items: center;
  margin-left: auto;
  height: 100%;

  &--search,
  &--basket {
    display: inline-flex;
    padding: 20px 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: inherit;

    @media screen and (min-width: $tablet-min) {
      padding: 30px 0 20px;
    }
  }

  &--search {
    transform: scale(1);
    color: $white-color;
    @include transition(transform);

    &:hover,
    &:focus {
      transform: scale(1.4);
    }
  }

  &--basket {
    margin-left: 13px;
    color: $white-color;
    cursor: url(../images/cursor.svg) 0 0, auto;

    @media screen and (min-width: $tablet-min) {
      margin-left: 15px;
    }
  }
}

.icon-search,
.icon-basket {
  fill: currentColor;
  border: none;
}

.baket {
  position: relative;

  &__count {
    position: absolute;
    top: -4px;
    left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $accent-pink-color;
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
}
