.hero {
  padding: 60px 0 0;

  @media screen and (min-width: $tablet-min) {
    // padding: 35px 0;
    padding: 105px 0 35px;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/bouquet/bg_mob-no-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 300px;

  @media screen and (min-width: $tablet-min) {
    background-image: url('../images/bouquet/bg_web-no-background.png');
    background-repeat: no-repeat;
    // background-position: top center, top center;
    background-position: right;
    background-size: contain;
  }
}

.hero__content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 250px;
  padding-bottom: 40px;
  text-align: center;
  width: 300px;

  @media screen and (min-width: $mobile-medium) {
    padding-top: 280px;
    width: 325px;
  }

  @media screen and (min-width: $tablet-min) {
    margin-left: 0;
    margin-right: 0;
    padding-top: 128px;
    padding-bottom: 70px;
    width: 303px;
    text-align: left;
    // font-weight: 400;
  }
}

.hero__title {
  @extend %title-section;

  margin-bottom: 10px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 13px;
  }
}

.hero__title-description {
  display: none;

  @media screen and (min-width: $tablet-min) {
    display: block;
    margin-bottom: 17px;
  }
}

.hero__title-description-mob {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet-min) {
    display: none;
  }
}

.hero__buttons .button-primary:not(:first-child) {
  margin-left: 22px;
}
