.reviews {
  padding: 18px 0 16px;
  background-color: rgba(169, 191, 228, 0.2);

  @media screen and (min-width: $tablet-min) {
    padding: 24px 0 34px;
    background-image: url('../images/bouquet/flowers1-1x-desk.png'),
      url('../images/bouquet/flowers2-1x-desk.png');
    background-repeat: no-repeat no-repeat;
    background-position: bottom 284px right, top 183px left;
  }
}

.reviews__title {
  margin-bottom: 17px;
  @extend %title-section;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 23px;
  }
}

.reviews__list {
  margin-bottom: 8px;

  @media screen and (min-width: $tablet-min) {
    margin-bottom: 5px;
  }
}

.reviews__item {
  @media screen and (min-width: $tablet-min) {
    display: flex;
    margin-left: 40px;
  }

  &:not(:nth-child(2)) {
    margin-bottom: 17px;

    @media screen and (min-width: $tablet-min) {
      display: flex;
      margin-bottom: 40px;
    }
  }

  &:nth-child(2) {
    @media screen and (min-width: $tablet-min) {
      margin-left: 187px;
    }
  }
}

.reviews__photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  border-radius: 50%;
  background-color: $accent-blue-color;
  width: 100px;
  height: 100px;

  @media screen and (min-width: $tablet-min) {
    margin: 0;
  }
}

.reviews__quote {
  @media screen and (min-width: $tablet-min) {
    margin-left: 45px;
    width: 334px;
  }
}

.reviews__author {
  padding: 9px 0 9px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.23;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet-min) {
    padding-top: 7px;
  }
}

.reviews__text {
  @media screen and (min-width: $tablet-min) {
    padding-bottom: 7px;

    &::after {
      position: absolute;
      content: '';
      bottom: 30px;
      left: 0;
      width: 20px;
      height: 0;
      border: 1px solid $accent-pink-color;
      background-color: $accent-pink-color;
      border-radius: 20px;
    }
  }
}
